@topPanelHeight: 50px;
@oneRowHeight: 40px;

*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
}

.top-panel{
  width: 100%;
  height: @topPanelHeight;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: solid 2px gainsboro;
  overflow-y: hidden;
}


.add-container{
  margin-top:@topPanelHeight+20px;
  border-bottom: solid 2px gainsboro;
}
.add-container > .row{
  height: @topPanelHeight+5px;
}
.menu{
  width: 100%;
  height: @topPanelHeight;
  text-align: center;
  line-height: @topPanelHeight;
}

#add{
  width:70%;
  color: white;
  border-radius: 10px;
  background-color: lightblue;
  text-transform: uppercase;
  font-weight: bold;
}
.menu-item{
  padding: 7px;
  color: white;
  border-radius: 10px;
  background-color: lightblue;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 10px;
  transition: 0.3s;
}

.menu-item > a{
  color: white;
}

.menu-item:hover{
  padding: 10px;
  cursor: pointer;
}
.ad > input{
  margin-left: 10px;
  width:300px;
}
.ad {
  line-height: @oneRowHeight - 10px;
  text-align: center;
}
.competitor-container > .row{
  border-bottom: solid 2px gainsboro;
}
.nm{
  margin-left:200px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  line-height: @oneRowHeight;
  height: 100%;
  overflow-y: hidden;
}



