<% include common/header.ejs %>
<div class="top-panel">
    <div class="menu">
        <span class="menu-item">Competitor name</span>
        <span class="menu-item"><a href="/">Goods</a></span>
        <span class="menu-item"><a href="parsed.html">Parsing</a></span>
        <span class="menu-item"><a href="filter.html">Filters</a></span>
    </div>
</div>
<div class = "class1">
    <a id = "name1">Articul</a>
    <input type = text id = "name1_input">
    <a id = "name2">Name</a>
    <input type = text id = "name2_input">
    <a id = "name3">Articul</a>
    <input type = text id = "name3_input">
    <a id = "name4">Brand</a>
    <input type = text id = "brand_input">
    <a id = "price_compare">Price comparator</a>
    <select id = "pc_input">
        <option value="more"> > </option>
        <option value="less"> < </option>
        <option value="moreEqual"> >= </option>
        <option value="lessEqual"> <= </option>
    </select>
    <a id = "date1">From</a>
    <input type = date id = "date1_input">
    <a id = "date2">To</a>
    <input type = date id = "date2_input">
    <div class = "buttons">
        <button id="searchByPrice">Search</button>
        <button id="searchByCompetitor">Search</button>
        <button id="searchByPeriod">Search</button>
        <button id="searchByBrand">Search</button>
    </div>
</div>
<% include common/footer.ejs %>
