<% include common/header.ejs %>
<div class="top-panel">
    <div class="menu">
        <span class="menu-item" id="see-products"><a>See product list</a></span>
        <span class="menu-item" id="see-products"><a href="parsed.html">Parsing</a></span>
        <!--<span class="menu-item"><a>Add product</a></span>-->
    </div>
</div>
<div class="add-product-container">
    <input id="input-excel" type="file"/>
    <button id="accept">Accept</button>
    <div class="row">
        <div class="ad col-md-2">ID<input id="id"/></div>
        <div class="ad col-md-2">Articul<input id="articul"></div>
        <div class="ad col-md-2">Name<input id="name"></div>
        <div class="ad col-md-2">Brand<input id="brand"></div>
        <div class="ad col-md-2">Price<input id="price"></div>
        <div class="ad col-md-1"><button class="add-to-db">Add product</button></div>
    </div>
</div>
<div class="products-table-container" id="products">
    <div class="row">
        <div class="nm col-xs-1">ID</div>
        <div class="nm col-xs-2">Articul</div>
        <div class="nm col-xs-4">Name</div>
        <div class="nm col-xs-2">Brand</div>
        <div class="nm col-xs-1">Price</div>
        <div class="nm col-xs-2">Action</div>
    </div>
</div>
<% include common/foot.ejs %>