<% include common/header.ejs%>
<div class="top-panel">
    <div class="menu">
        <span class="menu-item"><a href="/">Goods</a></span>
        <span class="menu-item"><a href="parsed.html">Parsing</a></span>
        <span class="menu-item"><a href="urls.html">Parse Urls</a></span>
    </div>
</div>
<div class="add-product-container">
    <div class="row">
        <div class="add col-xs-3">Competitor name <input id="name"/></div>
        <div class="add col-xs-2"><input type="file" id="input-excel"></div>
        <div class="add col-xs-2"><button id="accept">Accept</button></div>
    </div>
</div>
<% include common/footer.ejs %>