<% include common/header.ejs%>
<div class="top-panel">
    <div class="menu">
        <span class="menu-item"><a href="/">Goods</a></span>
        <span class="menu-item"><a href="parsed.html">Parsing</a></span>
        <span class="menu-item"><a href="filter.html">Filters</a></span>
    </div>
</div>
<div class="add-container">
    <div class="row">
        <div class="ad col-lg-5 col-md-5 col-sm-6">Competitor's Name:<input id="name"></div>
        <div class="ad col-lg-4 col-md-4 col-sm-3"><input type="file" id="input-excel"></div>
        <div class="ad col-lg-3 col-md-3 col-sm-3">
            <button type="button" id="accept" class="btn btn-info">Add</button>
        </div>
    </div>
</div>
<div class="competitor-container">
    <div class="row">
        <div class="nm col-md-12"><a href="url">mobilluck</a></div>
        <div class="nm col-md-12"><a href="url">techno</a></div>
        <div class="nm col-md-12"><a href="url">nobu</a></div>
        <div class="nm col-md-12"><a href="url">officeman</a></div>
    </div>
</div>
<!--<div class = "add-product-container">-->
    <!--<div class="row">-->
        <!--<div class="ad col-md-2">Date-time</div>-->
        <!--<div class="ad col-md-2">Competitor's Name</div>-->
        <!--<div class="ad col-md-2">Product name</div>-->
        <!--<div class="ad col-md-2">Price</div>-->
        <!--<div class="dropdown col-md-2">-->
            <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Competitors-->
                <!--<span class="caret"></span></button>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">www.mobilluck.com.ua</a></li>-->
                <!--<div class="dropdown-divider"></div>-->
                <!--<li><a href="#">a-techno.com.ua</a></li>-->
                <!--<div class="dropdown-divider"></div>-->
                <!--<li><a href="#">nobu.com.ua</a></li>-->
                <!--<div class="dropdown-divider"></div>-->
                <!--<li><a href="#">officeman.ua</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<button type="button" class="btn btn-info col-md-2">Parse</button>-->
    <!--</div>-->
<!--</div>-->
<% include common/footer.ejs %>