<% include common/heade.ejs%>
<div class="top-panel">
    <div class="menu">
        <span class="menu-item" id="see-products"><a>Parsing</a></span>
    </div>
</div>
<!--<div class = "add-product-container">-->
    <!--<div class="row">-->
        <!--<div class="ad col-md-2">Date-time</div>-->
        <!--<div class="ad col-md-2">Competitor's Name</div>-->
        <!--<div class="ad col-md-2">Product name</div>-->
        <!--<div class="ad col-md-2">Price</div>-->
        <!--<div class="dropdown col-md-2">-->
            <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Competitors-->
                <!--<span class="caret"></span></button>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">www.mobilluck.com.ua</a></li>-->
                <!--<div class="dropdown-divider"></div>-->
                <!--<li><a href="#">a-techno.com.ua</a></li>-->
                <!--<div class="dropdown-divider"></div>-->
                <!--<li><a href="#">nobu.com.ua</a></li>-->
                <!--<div class="dropdown-divider"></div>-->
                <!--<li><a href="#">officeman.ua</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<button type="button" class="btn btn-info col-md-2">Parse</button>-->
    <!--</div>-->
<!--</div>-->
<div class="products-table-container" id="products">
    <div class="row">
        <div class="nm col-md-2">Date</div>
        <div class="nm col-md-2">Competitor</div>
        <div class="nm col-md-6">Name</div>
        <div class="nm col-md-2">Price</div>
    </div>
</div>
<% include common/foot.ejs %>