<% include common/header.ejs %>
<div class="top-panel">
    <div class="menu">
        <span class="menu-item"><a href="/">Goods</a></span>
        <span class="menu-item"><a href="parsed.html">Parsing</a></span>
        <span class="menu-item"><a href="filter.html">Filters</a></span>
        <span class="menu-item" id="parse"></span>
    </div>
</div>
<div class="products-table-container" id="products">
    <div class="row">
        <div class="nm col-md-2">Date</div>
        <div class="nm col-md-1">Articul</div>
        <div class="nm col-md-3">Item_name</div>
        <div class="nm col-md-1">Name</div>
        <div class="nm col-md-1">Price</div>
        <div class="nm col-md-4">Url</div>
    </div>
</div>
<% include common/footer.ejs %>