<% include common/header.ejs %>
<div class="top-panel">
    <div class="menu">
        <span class="menu-item"><a href="/">Goods</a></span>
        <span class="menu-item"><a href="parsed.html">Parsing</a></span>
        <span class="menu-item"><a href="filter.html">Filters</a></span>
    </div>
</div>
<div class="main-container">
    <div class="row">
        <div class="goods-container col-md-4">
            <div class="row">
                <div class="md col-lg-6 col-md-6 col-sm-6 col-xs-6 goods">Goods</div>
                <div class="md col-lg-6 col-md-6 col-sm-6 col-xs-6">Price</div>
            </div>
        </div>
        <div class="comp-container col-md-8">
            <!-- <div class="row"> -->
            <div class="ad col-lg-3 col-md-3 col-sm-3 col-xs-3 column1">mobilluck
                <div class="row-comp">
                    <span class="pr col-md-6 column1">Price</span>
                    <span class="pr col-md-6">URL</span>
                </div>
            </div>
            <div class="ad col-lg-3 col-md-3 col-sm-3 col-xs-3 column1">techno
                <div class="row-comp">
                    <span class="pr col-md-6 column1">Price</span>
                    <span class="pr col-md-6">URL</span>
                </div>
            </div>
            <div class="ad col-lg-3 col-md-3 col-sm-3 col-xs-3 column1">nobu
                <div class="row-comp">
                    <span class="pr col-md-6 column1">Price</span>
                    <span class="pr col-md-6">URL</span>
                </div>
            </div>
            <div class="ad col-lg-3 col-md-3 col-sm-3 col-xs-3 column1">officeman
                <div class="row-comp">
                    <span class="pr col-md-6 column1">Price</span>
                    <span class="pr col-md-6">URL</span>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>
<% include common/footer.ejs %>