<div class="row">
    <div class="one-item col-xs-2"><%= item.time%></div>
    <div class="one-item col-xs-2"><%= item.name%></div>
    <div class="one-item col-xs-6"><%= item.item_name%></div>
    <div class="one-item col-xs-2"><%= item.price%></div>
</div>