<div class="row">
    <div class="one-item col-md-2">10-10-2013 14:54</div>
    <div class="one-item col-md-2"><%= item.competitor%></div>
    <div class="one-item col-md-6"><%= item.name%></div>
    <div class="one-item col-md-2"><%= item.price%></div>
</div>